.galleryWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 20px;
  padding: 20px;
  justify-items: center;
}

.photoWrapper {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.519);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 400px;
  max-width: 400px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.045);
  padding: 15px;
}

.galleryImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.deleteButton {
  margin-top: 15px;
  display: inline-block;
  background-color: rgb(20, 150, 220);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    color: rgb(20, 150, 220);
    background-color: rgb(238, 238, 250);
    transform: scale(1.04);
  }
  margin-bottom: 0px;
}

@media (max-width: 950px) {
  .galleryWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .galleryWrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .galleryWrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .photoWrapper {
    padding: 5px;
  }
}
