.formWrapper {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: space-evenly;
}
.backBtn {
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  text-decoration: none;
  display: flex;
}

.formLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.editForm {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    width: 100%;
    font-size: 2rem;
  }
  input {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    background-color: rgb(206, 206, 206);
  }
  button[type="submit"] {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}
