.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  width: 100%;
}

.galleryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 38%;
}

.galleryFormImage {
  border-radius: 10px;
  box-shadow: 14px 15px 15px rgba(255, 255, 255, 0.288);
  margin-bottom: 20px;
  border: 3px solid rgb(255, 255, 255);
  outline-color: transparent;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.623);
  height: 400px;
  width: 400px;
}

.galleryFormInput {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.716);
  padding: 10px;
  border-radius: 20px;
}

.galleryFormInput::file-selector-button {
  display: inline-block;
  background-color: rgb(20, 150, 220);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    color: rgb(20, 150, 220);
    background-color: rgb(238, 238, 250);
  }
}

.galleryFormSubmitButton {
  width: 60%;
  margin-top: 15px;
  display: inline-block;
  background-color: rgb(20, 150, 220);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    color: rgb(20, 150, 220);
    background-color: rgb(238, 238, 250);
  }
}

@media (max-width: 500px) {
  .galleryFormImage {
    width: 300px;
  }

  .galleryFormSubmitButton {
    width: 80%;
  }

  .galleryForm {
    width: 68%;
  }
}

@media (max-width: 400px) {
  .galleryFormImage {
    width: 250px;
  }
}
